# Stripe API Keys
# Get these from your Stripe Dashboard: https://dashboard.stripe.com/apikeys
STRIPE_SECRET_KEY=sk_test_XXXXXXXXX
STRIPE_PUBLISHABLE_KEY=pk_test_XXXXXXXXX

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True

HTTPS_ENABLED=True
SSL_CERT_PATH=/etc/letsencrypt/live/XXXXXXX.com/fullchain.pem
SSL_KEY_PATH=/etc/letsencrypt/live/XXXXXXXX.com/privkey.pem